/*fonts*/
@font-face {
    font-family: fontHeader;
    src: url("../fonts/Christmas.otf");
}

@font-face {
    font-family: fontText;
    src: url("../fonts/textStyle.otf");
}

@font-face {
    font-family: fontMainPage;
    src: url("../fonts/MainChirstmas.otf");
}

body {
    background-color: #FFFFFF;
    font-family: fontText,serif;
    font-size: 1.3vw;
}

/*margins for all the built-in headers*/
h1, h2, h3, h4, h5, h6 {
    margin: 4vw;
}
/*form input fields*/
input {
    font-size: 1.3vw;
    font-family: fontText,serif;
}
/*plane for the cursor*/
* {
    cursor: url(../images/plane.png), auto;
}
#Inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url('../images/back_register.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #c2b28c;
}
/*container for the form*/
.forma {
    width: 60%;
    height: auto;
    margin-top: 6vw;
    background: rgba(140, 158, 188, 0.8);
    border-radius: 3vmin;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 2vw;
    justify-content: flex-start;
    overflow: auto;
}

/*split of the container into two parts*/
.forma-left, .forma-right {
    width: 45%;
    box-sizing: border-box;
    padding-bottom: 1vw;
}

.forma-right {
    float: right;
}

.forma-left {
    float: left;
}

/*the biggest field for the sending of a letter*/
.forma-middle {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/*size on a middle-input field*/
.forma-middle input[type=text] {
    height: 10vw;
}

.forma-header {
    text-align: center;
    font-size: 2.3vw;
    font-family: fontHeader, serif;
    padding-bottom: 3vw;
}

.forma-text {
    white-space: pre-line;

}

/*submit button position*/
.forma-submit {
    display: flex;
    margin-top: 11vw;
    justify-content: flex-end;
}

/*form input functionality*/
input[type=text] {
    width: 100%;
    padding: 1vw;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/*submit button functionality*/
input[type=submit] {
    background-color: rgba(39, 88, 124, 0.79);
    color: white;
    padding: 1vw 2vw;
    border: none;
    border-radius: 8px;
    font-family: fontHeader, serif;
    font-size: 1.4vw;
}
/*change of the color while clicking on submit button*/
input[type=submit]:hover {
    background-color: #e19c38;
    border: 0.2vmin solid #183d61;
}
/*consent box*/
.consent-box {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5vw;
}
/*birthday box field*/
#bday {
    display: block;
    margin-bottom: 1.4vw;
    margin-top: 1vw;
}
/*don't display button for the file*/
#file {
    display: none;
}
/*submit profile picture button*/
#button-submit-image {
    width: 40%;
    padding: 0.7vw;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 1.3vw;
    font-family: fontText,serif;
}
/*login and password fields*/
#login, #password{
    width: 60%;
    align-content: flex-end;
}

#password {
    margin-top: 6.6vw;
}

/*add ai usage here*/
label[for="file"], label[for="bday"] {
    display: block;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

#consent, label[for="consent"] {
    margin-top: 1.4vw;
}

/*initial*/
#Inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
"""background-image: url('../images/1920-merry-christmas-background-with-copy-space.jpg');"""
background-repeat: no-repeat;
    background-size: cover;
    color: #302c23;
    padding-bottom: 3vw;

}
@keyframes AnimacionLetras {
    from{color: #c1b089
    }
    to{color: goldenrod}
}

/*navigation bar should change depending on the device*/
#Navegacion{
    margin: 0;
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-items: center;
}

.website-name, #Navegacion a{
    text-align: center;
    flex-grow: 1;
    font-family: fontMainPage, serif;
    font-size: 7vmin;
    color: #605e5e;
    margin: 25px 4px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    overflow-wrap: break-word;
    wrap-option: no-wrap;
}

.website-name {
    color: #e3b87e;
    -webkit-text-stroke: 1.5px #1e1717;
}


#Navegacion a:hover{
    animation-name: AnimacionLetras;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
#InicioTitulo {
    font-family: fontMainPage, serif;
    margin-top: 10vmax;
    font-size: 20vmin;
    text-shadow: #383a43 10px 0 10px;
    margin-bottom: 1vh;
}
@keyframes AnimacionColor {
    from{background-color: #c3b18a
    }
    to{background-color: goldenrod}
}


footer{
    img{
        align-self: center;
        width: 7vh;
        height: auto;
    }
    a{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        text-decoration: none;
        color: #f0f0f0;
    }
    a:hover{
        background-color: rgb(230, 174, 173, 0.2);
    }
    .footerLink{
        text-align: center;
        width: auto;
        padding: 1vh 2%;
        font-size: 2.5vh;
    }
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
    color: whitesmoke;
    background: linear-gradient(to top, rgb(205, 92, 92), rgb(205, 92, 92, 8));
}
#footerImages{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-lang {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px 0 0;
    font-family: fontHeader, serif;
    font-size: 1.5vw;
    color: #302f2f;
    background: #f1f1f1;
    border-radius: 0.25rem 1rem 0.25rem 1rem;
    width: 3vw;
}

.top-right {
    padding-top: 1vw;
}
@media (max-width: 600px) {

    .website-name, #Navegacion a{
        font-size: 4vmin;
        margin: 0;
    }
    .top-right {
        padding-top: 3.2vw;
    }
    .menu-lang {
        margin-top: 15px;
        font-size: 1.4vw;
        width: 5vw;
        height: 6vw;
    }
    .forma {
        margin-top: 8vw;
    }

}

/*breakpoint for the middle-scaled devices*/
@media (min-width: 600px) and (max-width: 766px) {

    .website-name, #Navegacion a{
        font-size: 4vmin;
    }
    .top-right {
        padding-top: 3vw;
    }

    .forma {
        margin-top: 9vw;
    }

}

/*breakpoint for bigger screens, but not extremely big*/
@media (min-width: 766px) and (max-width: 1087px) {
    .forma {
        margin-top: 10vw;
    }

    .website-name, #Navegacion a{
        font-size: 5.3vmin;
    }
    .top-right {
        padding-top: 2vw;
    }
}
